# Try 5 Different functions of the string in Python
 for example - index,split function

In [1]:
name = "Prajakta Ramesh Pandkar"

In [7]:
name.index("a")

2

In [10]:
name.count("Ramesh")

1

In [11]:
name.split()

['Prajakta', 'Ramesh', 'Pandkar']

In [12]:
name.lower()

'prajakta ramesh pandkar'

In [15]:
name.isspace()

False

In [16]:
name.swapcase()

'pRAJAKTA rAMESH pANDKAR'

# Try 5 Different functions of the List Object in Python

In [49]:
lst = [1, 2, 3, 4, 5, ['a'], 'Hello', "Happy"]

In [52]:
lst.count(5)

1

In [53]:
lst.index("Hello")

6

In [76]:
months = ['jan', 'feb', 'mrh']

In [77]:
months.append('april')
print(months)

['jan', 'feb', 'mrh', 'april']

In [78]:
counts = [22, 55, 44, 99, 77]

In [80]:
counts.sort()
print(counts)

[22, 44, 55, 77, 99]

In [86]:
counts.remove(44)
print(counts)

[22, 55, 77]

In [88]:
counts.pop(2)

77

# Experiment with at least 5 default functions of Dictionary

In [89]:
ditPerson = {"Name":"Prachi", "Surname":"Pandkar", "Age":22 }

In [91]:
ditPerson.get("Surname")

'Pandkar'

In [98]:
ditPerson.clear()
print(ditPerson)

{}

In [134]:
ditPerson.keys()

dict_keys(['Age', 'Name', 'Surname'])

In [135]:
ditPerson.values()

dict_values([19, None, None])

In [136]:
ditPerson.items()

dict_items([('Age', 19), ('Name', None), ('Surname', None)])

In [137]:
dit1 = {"Address":"Satara"}
ditPerson.update(dit1)
print(ditPerson)

{'Age': 19, 'Name': None, 'Surname': None, 'Address': 'Satara'}